@page "/contributions"

@using System.Collections.Generic
@using TTConfTool.Shared.Contracts
@using TTConfTool.Shared.DTO
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject IContributionsService _contributionsClient

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
    <MudText Typo="Typo.h3" GutterBottom="true">Contributions</MudText>
    @if (_contributions == null)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    }
    else
    {
        <MudTable Items="_contributions" Hover="true" Elevation="3">
            <HeaderContent>
                <MudTh Style="color: white; background-color: #ff584f">Titel</MudTh>
                <MudTh Style="color: white; background-color: #ff584f">Sprecher</MudTh>
                <MudTh Style="color: white; background-color: #ff584f">Datum</MudTh>
                <MudTh Style="color: white; background-color: #ff584f">Konferenz</MudTh>
                <MudTh Style="color: white; background-color: #ff584f">Art</MudTh>
                <MudTh Style="color: white; background-color: #ff584f">Tags</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Titel">@context.Title</MudTd>
                <MudTd DataLabel="Sprecher">@context.Speaker</MudTd>
                <MudTd DataLabel="Datum">@context.Date</MudTd>
                <MudTd DataLabel="Konferenz"><a href="@context.Conference" target="_blank">@context.Conference</a></MudTd>
                <MudTd DataLabel="Art">@context.Type</MudTd>
                <MudTd DataLabel="Tags">@context.Tags</MudTd>
            </RowTemplate>
        </MudTable>
    }
</MudContainer>

@code {
    private List<Contribution> _contributions;

    protected override async Task OnInitializedAsync()
    {
        await LoadContributions();
    }

    private async Task LoadContributions()
    {
        _contributions = (await _contributionsClient.ListContributionsAsync());
    }
}
